<% _.each(items, function(item){ %>
<div class="col-lg-{col_lg} col-md-{col_md} col-xs-{col_xs} thumb">
	<div class="thumbnail">
		<a href="<%- item.media_big %>" data-toggle="lightbox" data-gallery="multiimages" data-title="<%- item.title %>">
			<img class="img-responsive" src="<%- item.media_small %>" alt="">
		</a>
		<div class="caption">
			<h4 class="group inner list-group-item-heading"><% if(item.title) { %><%- item.title %><% } else { %>No title<% } %></h4>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p class="small"><%- item.ymd_date_taken %> <%- item.hhmm_date_taken %></p>
				</div>
				<div class="col-xs-12 col-md-6">
					<a class="btn btn-success pull-right" href="<%- item.link %>" target="_blank">Link</a>
				</div>
			</div>
        </div>
	</div>
</div>
<% }); %>